* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #23252C;
    font-family: inter, sans-serif;
    padding: 0;
    margin: 0;
}

.card {
    background-color: #1A1B21;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 317px;
    padding: 0;
    margin: 44px 0;
    text-align: center;
    border-radius: 10px;
}

.info-card {
    margin-top: 0;
}

.card--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    width: 317px;
}


/* Info */

.info--name {
    font-size: 25px;
    font-weight: 700;
    margin: 21px 0 0;
    color: #fff;
    font-style: normal;
    line-height: 30px;

}

.info--title {
    font-size: 13px;
    font-weight: 400;
    color: #F3BF99;
    line-height: 16px;
    margin: 7px 0;
    font-style: normal;

}

.info--site {
    font-size: 11px;
    font-weight: 400;
    color: #F5F5F5;
    text-decoration: none;
    margin-bottom: 24px;
}

.info-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;






}


.info--btn-email {
    display: flex;
    justify-content: center;
    width: 247px;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    padding: 9px 18px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #5093E2;

}

.info--btn-email-img {
    margin-right: 9px;
    flex: none;
    order: 0;
    flex-grow: 0;
}



/*---- ABOUT & INTREST----*/


.about-card,
.interests-card {
    text-align: left;
    margin: 0px 36px;
    color: white;
}


.about-title,
.interests-title {
    font-size: 16px;
    font-weight: 700;
    color: #F5F5F5;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 15px;

}



.about-info,
.interests-info {
    font-size: 11px;
    font-weight: 400;
    color: #DCDCDC;
    line-height: 16px;


}

.interests-card {
    padding-bottom: 24px;
}


/* FOOTER */

.footer {
    background-color: #161619;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
}

.footer--container {
    margin: 20px 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 54%;

}